/spring-boot-redis/.idea/.gitignore
/spring-boot-redis/.idea/.name
/spring-boot-redis/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/spring-boot-redis/.gradle/buildOutputCleanup/cache.properties
/spring-boot-redis/.gradle/8.5/checksums/checksums.lock
/spring-boot-redis/.idea/compiler.xml
/spring-boot-redis/.gradle/8.5/dependencies-accessors/dependencies-accessors.lock
/spring-boot-redis/.idea/discord.xml
/spring-boot-redis/.gradle/8.5/executionHistory/executionHistory.bin
/spring-boot-redis/.gradle/8.5/executionHistory/executionHistory.lock
/spring-boot-redis/.gradle/file-system.probe
/spring-boot-redis/.gradle/8.5/fileHashes/fileHashes.bin
/spring-boot-redis/.gradle/8.5/fileHashes/fileHashes.lock
/spring-boot-redis/.gradle/8.5/dependencies-accessors/gc.properties
/spring-boot-redis/.gradle/8.5/gc.properties
/spring-boot-redis/.gradle/vcs-1/gc.properties
/spring-boot-redis/.idea/gradle.xml
/spring-boot-redis/.gradle/8.5/fileChanges/last-build.bin
/spring-boot-redis/.gradle/8.5/checksums/md5-checksums.bin
/spring-boot-redis/.idea/misc.xml
/spring-boot-redis/.gradle/buildOutputCleanup/outputFiles.bin
/spring-boot-redis/.gradle/8.5/fileHashes/resourceHashesCache.bin
/spring-boot-redis/.gradle/8.5/checksums/sha1-checksums.bin
/spring-boot-redis/.idea/uiDesigner.xml
/spring-boot-redis/.idea/vcs.xml
